<figure class="spotify-artists-container">
  <style type="text/css" media="screen">
    .spotify-artists-container {
      margin-bottom: 2em;
    }

    .spotify-artists-container .artists {
      background-color: #1DB954;
      border-radius: 15px 50px;
      padding: 1em;
    }

    .spotify-artists-container header {
      display: flex;
      justify-content: center;
    }

    .spotify-artists-container figcaption {
      margin-left: 2em;
    }
  </style>


  <div id="elm"></div>
  <figcaption>
    Embedded Elm & Netlify Function
    <a href="https://github.com/SylverStudios/spotify-highlights" target="_blank">See how on our Github</a>

  </figcaption>


  <link rel="stylesheet" href="{{ '/assets/spotify/artists-widget.css' | relative_url }}">
  <script src="{{ '/assets/spotify/artists-widget-v2.js' | relative_url }}"></script>
</figure>