---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.float-right-plz {
  float: right;
}

.excerpt-image {
  height: 80px;
  float: right;
}

.publish-tag {
  float: right;
  background: #EAEAEA;
  border-top: 4px solid #D7D7D7;
}

.teller-img {
  width: 40px;
  padding-right: 20px;
}