---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.float-right-plz {
  float: right;
}

.excerpt-image {
  height: 80px;
  float: right;
}

.publish-tag {
  float: right;
  background: #EAEAEA;
  border-top: 4px solid #D7D7D7;
}

.teller-img {
  width: 40px;
  padding-right: 20px;
}

.webgl-content {
  user-select: none;
}

.centered {
  display: flex;
  justify-content: center;
}

.image-with-quote {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  blockquote {
    height: fit-content;
  }
}

.about-image {
  height: 200px;
}

.aaron-page-image {
  float: right;
  height: 200px;
}
