---
layout: default
---
<!-- Unity WebGL scripts -->
<script src="{{ '/assets/unity/ferryman/TemplateData/UnityProgress.js' | relative_url }}"></script>
<script src="{{ '/assets/unity/ferryman/Build/UnityLoader.js' | relative_url }}"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "{{ site.baseurl }}/assets/unity/{{ page.unity_dir }}/Build/WebGlBuild1.json", { onProgress: UnityProgress });
</script>

<div class="py-8 sm:py-12">
  <div class="max-w-4xl mx-auto px-4 sm:px-6">
    {{ content }}
  </div>
</div>
